# Usage: pip install -r requirements.txt

# Data libraries
pandas==2.0.3
numpy==1.23.2

# ML libraries
tensorflow==2.10.0
opencv-python>=4.5

# Track experiments
wandb

# Deployment
waitress==2.1.2
Flask==2.3.2

# editor
# spyder-kernels==2.4.*
